<!DOCTYPE html>
<html lang="en">
<head>
<script src="//cdn.optimizely.com/js/2520710496.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base href="/">

<%- include('_newrelic') %>
<%- include('_clientEnv') %>
<%- include('_segment') %>
<%- include('_favicon') %>

<script type="text/javascript" src="//use.typekit.net/npw4ouq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="<%= cssBundleUrl %>" rel="stylesheet">
<title>Hylo</title>
</head>

<body class="home-page">
