<!DOCTYPE html>
<html lang="en">
<head>
<script src="//cdn.optimizely.com/js/2520710496.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:url" content="https://www.hylo.com/">
<meta property="og:title" content="Hylo">
<meta property="og:image" content="http://cdn.hylo.com/misc/hylo-fb-share-image.jpg">
<meta property="og:description" content="A new kind of social network that unlocks the creative power of communities.">
<base href="/">

<%- include('_newrelic') %>
<%- include('_clientEnv') %>
<%- include('_segment') %>
<%- include('_favicon') %>

<script type="text/javascript" src="//use.typekit.net/npw4ouq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="<%= assetUrl('bundle.css') %>" rel="stylesheet">
<title>Hylo</title>
</head>

<body class="<%= bodyClass %>">
