<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<script src="//cdn.optimizely.com/js/2520710496.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:url" content="https://www.hylo.com/">
<meta property="og:title" content="Hylo">
<meta property="og:image" content="http://cdn.hylo.com/misc/hylo-fb-share-image.jpg">
<meta property="og:description" content="A new kind of social network that unlocks the creative power of communities.">
<base href="/">

<%- include('_newrelic') %>
<%- include('_clientEnv') %>
<%- include('_segment') %>
<%- include('_favicon') %>

<script type="text/javascript" src="//use.typekit.net/npw4ouq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="<%= assetUrl('bundle.css') %>" rel="stylesheet">
<title>Hylo</title>

<script type="text/javascript">

    (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-v1.7.0.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data first getCode init link logout redeem referrals removeListener sendSMS setIdentity track validateCode".split(" "), 0);

    branch.init('key_live_mhdVu4UFbZnZ86jxdBGyjbajqubGzCLQ')
    branch.banner(
      {
        icon: '/img/appicon.png',
        title: 'Hylo App',
        description: 'The Hylo App!',
        forgetHide: 10,
        mobileSticky: true,
        showDesktop: false
      },
      {}
    )

</script>

</head>

<body class="<%= bodyClass %>">
