<% global.bodyClass = 'home-page'; %>
<%- include('_header'); %>

<script type="text/javascript">
  window.analytics.page(); // segment.io
  $.get('/noo/user/status', function(resp) {
    if (resp.signedIn) window.location = '/app';
  });
</script>

<%- include('_menu'); %>

<!-- Section #1 -->
<section id="section1" class="parallax-section" data-stellar-background-ratio="0.5">
  <div class="container text-center">
    <h1>Welcome to Hylo</h1>
    <h3>A new kind of social network that helps<br>real communities create, together.</h3>
    <a class="btn btn-lg btn-success btn-home"href="/invitecode">SIGN UP</a>
  </div>
</section>

<section id="section2" class="parallax-section" data-stellar-background-ratio="0.5">
  <div class="container text-center">
    <h2>Discover. Connect. Share.<br>Create.</h2><br><br><br>
    <h3>Used by hundreds of communities worldwide.</h3>
    <div class="testimonials">
      <a href="//www.impacthub.net" target="_blank" ><img class="logo" src="<%= imageUrl("testimonials/logos/OaklandHub.png") %>"></a>
      <a href="//embassynetwork.com" target="_blank" ><img class="logo" src="<%= imageUrl("testimonials/logos/Embassy.png") %>"></a>
      <a href="//afrilabs.com" target="_blank" ><img class="logo" src="<%= imageUrl("testimonials/logos/Afrilabs.png") %>"></a>
      <a href="//www.sfuncube.com/" target="_blank" ><img class="logo" src="<%= imageUrl("testimonials/logos/SfunCube.png") %>"></a>
      <a href="//www.enspiral.com/" target="_blank" ><img class="logo" src="<%= imageUrl("testimonials/logos/Enspiral.png") %>"></a>

    </div>
  </div>
</section>

<section id="section3" class="parallax-section" data-stellar-background-ratio="0.5">
  <div class="container text-center">
    <img class="section-image" src="<%= imageUrl("homepage/magGlass.png") %>">
    <h2>Discover opportunities all around you.</h2>
    <h3>We’re surrounded by incredible people, skills, and resources.</h3>
    <h3>But it’s hard to know who to connect with, for what, and when.</h3>
    <h3>Often the things we need most are closer than we think, but we just can’t see them.</h3>
  </div>
</section>

<section id="section4" class="parallax-section" data-stellar-background-ratio="0.5">
  <div class="container text-center">
    <img class="section-image" src="<%= imageUrl("homepage/bolt.png") %>">
    <h2>Shorten the gap between vision and reality.</h2>
    <h3>What if someone nearby had exactly what you needed to further your project?</h3>
    <h3>What if you were that person for someone else?</h3>
    <h3>When we share with others what we'd like to create, and what we need to make it real, magic happens.</h3>
  </div>
</section>

<section id="section5" class="parallax-section" data-stellar-background-ratio="0.7">
  <div class="container text-center">
    <img class="graph-img" src="<%= imageUrl("homepage/graph.png") %>">
  </div>
</section>

<section id="section6" class="parallax-section" data-stellar-background-ratio="0.5">
  <div class="container text-center">
    <img class="section-image" src="<%= imageUrl("homepage/wrench.png") %>">
    <h2>A tool designed for the future of work.</h2>
    <h3>Find the right connections. Get the information you need. Share your skills. Reduce duplicative efforts. Create connections both within and across your networks.</h3>
  </div>
</section>

<section id="section7" class="parallax-section" >
  <div class="container text-center">
    <h2>Hylo. Imagine and create, together.</h2>
    <a class="btn btn-lg btn-success btn-home"href="/invitecode">SIGN UP</a>
  </div>
</section>

<script>
function navAnimation() {
  var nav = $('nav');
  if ($(window).scrollTop() > 40 && nav.hasClass('transparent')) {
    nav.removeClass('transparent');
  }
  if ($(window).scrollTop() < 40) {
    nav.addClass('transparent');
  }
}

$(document).ready(function(){
  window.addEventListener('scroll', navAnimation);
});
</script>

<%- include('_footer'); %>
