<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base href="/">
<%- include('../_newrelic') %>
<%- include('../_clientEnv') %>
<%- include('../_rollbar') %>
<%- include('../_segment') %>
<%- include('../_favicon') %>
<script type="text/javascript" src="//use.typekit.net/npw4ouq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="<%= cssBundleUrl %>" rel="stylesheet">
<title>Hylo</title>
</head>

<body class="error-page">
<div ui-view id="content">
  <div class="all-sections">
    <div class="show"><h1>Hmm.</h1></div>

    <div id="bad-invitation-link">
      The invitation link you used is not valid. Please contact us at <a href="mailto:support@hylo.com">support@hylo.com</a> for assistance.
    </div>

    <div id="used-invitation-link">
      <p>That invitation link has already been used.</p>
      <p>Would you like to <a href="/h/login">log in</a>?</p>
      <p>Please contact us at <a href="mailto:support@hylo.com">support@hylo.com</a> if you need assistance.</p>
    </div>

    <div class="show hylo-definition">
      <a href="/" class="icon"><i class="icon-hylo-script"></i></a>

      <p>Short for <strong>hylozoism</strong> (from the Greek <em>hylē</em>, “matter” and <em>zōē</em>, “life”):</p>
      <p>The philosophical doctrine holding that all matter (including the universe as a whole) is alive and conscious.</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  var keyMatch = location.search.match(/key=([\w-]+)/),
    key = keyMatch[1],
    node = document.getElementById(key);

  if (node) node.style.display = 'block';
</script>
</body>
</html>