<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base href="/">

<%- include('../_newrelic') %>
<%- include('../_clientEnv') %>
<%- include('../_rollbar') %>
<%- include('../_segment') %>
<%- include('../_favicon') %>

<script type="text/javascript" src="//use.typekit.net/npw4ouq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link href="<%= cssBundleUrl %>" rel="stylesheet">
<title>Hylo</title>
</head>

<body class="angular-app waiting-for-angular" curtain hylo-auth ng-class="$bodyClass()">

<div id="initializing-panel">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div id="content-outer" ui-view></div>
<div growl></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script type="text/javascript" src="<%= jsBundleUrl %>"></script>
</body>
</html>