<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base href="/">

<%- include('../_newrelic') %>
<%- include('../_clientEnv') %>
<%- include('../_rollbar') %>
<%- include('../_segment') %>
<%- include('../_favicon') %>

<script type="text/javascript" src="//use.typekit.net/npw4ouq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link href="<%= cssBundleUrl %>" rel="stylesheet">
<title>Hylo</title>
</head>

<body class="angular-app hylo-auth waiting-for-angular" ng-class="$bodyClass()" ng-strict-di>

<div id="initializing-panel">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div id="content-outer">

  <div ng-show="loginMode" id="login-holder">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2>You need to log in first.</h2>
          <p>Redirecting you to the login page...</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="loginMode" id="content">
    <ng-include src="'/ui/app/nav.tpl.html'"></ng-include>
    <div ui-view class="container-fluid"></div>
  </div>

  <ng-include src="'/ui/app/menu.tpl.html'"></ng-include>

</div>
<div growl></div>
<script type="text/javascript" src="<%= jsBundleUrl %>"></script>

<script>
  filepicker.setKey(hyloEnv.filepicker.key);
</script>

</body>
</html>